
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #034b19,
  secondary:  #0fc746,
  danger:     #eb1f1f,
  light:      #f4f4f4,
  dark:       #222
);


//Top Tool Bar
$toolbar-md-background: color($colors, secondary);

//Bottom Tabs
$tabs-md-background: color($colors, secondary);
$tabs-md-tab-color-active: color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color: color($colors, light);

$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";



@import "ionic.ionicons";



@import "roboto";
@import "noto-sans";
